<div class="list-container">
  <div class="title">
    <h1>Edit Item</h1>
  </div>

  <%= render "form" %>

</div>
<div class="back-form">
  <%= link_to "Delete Item", user_list_path,method: :delete, data: {confirm: "Are you sure?"}%>
</div>
