<div class="form">
  <h1>Edit/Delete Item</h1>

  <%= render "form" %>

  <p><%= link_to "Delete Item", user_list_path,method: :delete, data: {confirm: "Are you sure?"}%></p>

  <p><%= link_to "Back to Christmas List", user_lists_path(current_user) %></p>
</div>
