<div class="form">
  <h1>New Item</h1>

  <%= render "form" %>

  <p>
    <%= link_to "Back Your Items", user_lists_path(current_user) %>
  </p>

  <p>
    <%= link_to "Back to Home", users_path %>
  </p>
</div>
